<% for ( let i = 0; i < orderData.length; i++){ %>
    <% if ( orderData[i].productData[0]?.Name ) { %>
    <tr>
    <td><%= i+1 %></td>
    <td><%= orderData[i].productData[0]?.Name %></td>
    <td><%= orderData[i].products.quantity %></td>
    <td><%= orderData[i].deliveryDetails.mobile %></td>
    <td><%= orderData[i].deliveryDetails.address %></td>
    <td><%= orderData[i].date.toDateString() %></td>
    <td><%= orderData[i].totalAmount %></td>
    <td><%= orderData[i].paymentMethod %></td>
    <td><%= orderData[i].status %></td>
    <% if(orderData[i].status == "Canceled") { %>
        <td><button class="btn btn-outline-danger" disabled>Cancel</button></td>
    <% }else{ %>
    <td><form action="/cancel/<%= orderData[i]._id %>?_method=PUT" method="post">
        <a href="" onclick="return confirm('Are want to cancel <%= orderData[i].productData[0]?.Name %> ?')">
            <button class="btn btn-outline-danger" type="submit">Cancel</button>
        </a>
    </form></td>
    <% } %>
    
    
    
    
    
    </tr>
    <% } %>
    <% } %>