<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>cla</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- my custom css -->
    <link rel="stylesheet" href="css/usercss.css">
    <!-- Cart css -->
    <!-- <link rel="stylesheet" href="css/cart.css"> -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <script src="js/orderValidate.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout inner_posituong computer_page">
    <nav class=" navbar-light "
    style="background-color: #4843a3;height: 4em; color: white; padding-left: 42em;">
    <a href="/" style="float: left;margin-left: -38em;margin-top: 1em;color: white;">Home</a>
    <a class="navbar-brand" href="/" style="font-size: xx-large;font-weight: bold;color: white;position: absolute;left: 35rem;padding-top: 1rem;align-items: center;">CKart</a>
    </nav>
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/"><img src="images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div> -->
                    <!-- ======================================================= -->

                    <div class="contact">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="titlepage">
                                        <h2>Delivery Details</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <form id="buyrequest"  class="main_form" action="">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Name" type="type" oninput="namevalid()" id="fname" name="Name">
                                                <p class="help-block" id="pname"></p>
                                            </div>
                                            <div class="col-md-12">
                                                <input class="contactus" placeholder="Phone Number" oninput="numvalid()"  id="fnum" type="text"
                                                    name="mobile">
                                                    <p class="help-block" id="pnum"></p>
                                                    <input type="text" name="userId" id="" value="<%=user._id%>" hidden>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" name="proId" id="proId" value="<%=product%>" hidden>
                                                <input type="text" name="total" id="tot" value="<%=total%>" hidden>
                                                <input class="contactus" placeholder="Pincode" oninput="pinvalid()" id="fpin" type="type"
                                                    name="Pincode">
                                                    <p class="help-block" id="ppin"></p>
                                            </div>
                                            <div class="col-md-12">
                                                <textarea class="textarea" placeholder="Address" id="faddress" oninput="addressvalid()" type="type" name="address"
                                                    Message="Name"></textarea>
                                                    <p class="help-block" id="paddress"></p>
                                            </div>
                                            <div class="col-md-12">
                                                <h1 id="totalShow" style="color: black;font-weight: bold;">Total $<%=total%>
                                                        </h3>
                                            </div>
                                            <div class="col-md-5">
                                                <label for="payment">Payment method </label><br>
                                                <div class="radio inline">
                                                    <input type="radio" id="radio-2" name="payment-method" value="COD" checked>
                                                    <label for="radio-2">Pay on Delivery</label>
                                                </div>
                                                <div class="radio inline">
                                                    <input type="radio" id="radio-3" name="payment-method" value="ONLINE">
                                                    <label for="radio-3">Online Payment</label>
                                                </div>
                                            </div>
                                            <!-- <form action="" id="applycoupon" class="main_form"> -->
                                            <div class="col-md-4">
                                                <!-- <input type="text" name="total" id="totalPrice" value="<%=total%>" hidden> -->
                                                <input class="contactus" placeholder="Apply Coupon here" type="type" oninput="couponinput()" id="fcoupon" name="coupon" style="border-color:orange">
                                                <!-- <input class="contactus" placeholder="Apply Coupon here" type="type" id="fcoupon" name="coupon" style="border-color:orange"> -->
                                                <p class="help-block" id="pcoupon"></p>
                                            </div>
                                            <div class="col-md-3">
                                                <!-- <button class="apply_btn" type="submit">Apply</button> -->
                                                <button id="apply_btn" class="apply_btn" onclick="couponcheck(document.getElementById('tot').value,document.getElementById('fcoupon').value)" type="button">Apply</button>
                                                <button id="applied_btn" class="apply_btn" type="button" style="display:none">Applied</button>
                                            </div>
                                            <!-- </form> -->
                                            <div class="col-md-12">
                                                <button class="send_btn" type="submit" onclick="namevalid();numvalid();pinvalid();addressvalid();" id="submit_btn">Checkout</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end footer -->
                    <!-- Razour pay Library -->
                    
                    <script>

                        // $("#applycoupon").submit((e)=>{
                        //     e.preventDefault()
                        //     console.log('applycoupon clicked');
                        // })

                        $("#buyrequest").submit((e)=>{
                            e.preventDefault()
                            if ( value1 && value2 && value3 && value4 && value5){
                            console.log(document.getElementById("tot").value)
                            price = parseInt(document.getElementById("tot").value)
                            product = document.getElementById("proId").value
                                $.ajax({
                                url:`/buyplace-order/${price}/${product}`,
                                    method:'post',
                                    data:$('#buyrequest').serialize(),
                                    success:(response)=>{
                                        console.log(response);
                                        if(response.codSuccess){
                                            console.log(response.address);
                                            location.href='/order-success'
                                        }else{
                                            razorpayPayment(response)
                                        }
                                    }
                                })
                            }
                        })

                        function razorpayPayment(order){
                            var options = {
                            "key": "rzp_test_GHZ8qfO5RgHRDG", // Enter the Key ID generated from the Dashboard
                            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                            "currency": "USD",
                            "name": "CKart",
                            "description": "Order Transaction",
                            "image": "https://example.com/your_logo",
                            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                            "handler": function (response){
                                verifyPayment(response,order)
                            },
                            "prefill": {
                                "name": "Christophar Antony",
                                "email": "christopharantony@gmail.com",
                                "contact": "7012049963"
                            },
                            "notes": {
                                "address": "CKart Corporate Office"
                            },
                            "theme": {
                                "color": "#3d389c"
                            }
                            };
                            var rzp1 = new Razorpay(options);
                            rzp1.open();
                        }
                        function verifyPayment(payment,order) {
                            $.ajax({
                                url: "/verify-payment",
                                data:{payment,order},
                                method: "POST",
                                success:(response)=>{
                                    if(response.status){
                                        location.href='/order-success'
                                    }else{
                                        alert('Payment failed');
                                    }
                                }
                            })
                        }
                    </script>

                    <!-- Javascript files-->
                    <!-- <script src="js/jquery.min.js"></script> -->
                    <script src="js/popper.min.js"></script>
                    <script src="js/bootstrap.bundle.min.js"></script>
                    <!-- <script src="js/jquery-3.0.0.min.js"></script> -->
                    <!-- sidebar -->
                    <!-- <script src="js/jquery.mCustomScrollbar.concat.min.js"></script> -->
                    <script src="js/custom.js"></script>
                    <!-- Ajax Add to cart -->
                    <script src="js/cartAjax.js"></script>
</body>

</html>