<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>cla</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- my custom css -->
    <link rel="stylesheet" href="css/usercss.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- swal -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <!-- end swal -->
</head>

<body class="main-layout inner_posituong computer_page">
    <nav class=" navbar-light" style="background-color: #4843a3;height: 4em; color: white; padding-left: 5em;">
        <a href="/" style="    float: left; margin-top: 1em; color: white;">Home</a>
        <a class="navbar-brand" href="/"
            style="margin-left: 26rem; font-size: xx-large; line-height:5rem; font-weight: bold; color: white;">CKart</a>
    </nav>
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <section style="margin-top:20px">
        <div class="container">
            <div class="row" style="margin-left:2em">
                <div class="col-md-9">
                    <h1 class="">Order Placed Successfully</h1>
                    <a href="/" class="btn btn-success" style="margin-top:14px;">Continue Shopping</a>
                </div>
                <div class="col-md-3 text-center">
                    <h3 class="text-center" style="font-weight: 600;">Track your Orders</h3>
                    <p>Easily track your orders!</p>
                    <a href="/user-orders" class="btn btn-primary">Go to My Orders</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-left:2em; margin-top: 3em;">
                <div class="col-md-9">
                    <h2 class="">Delivery Address</h2>
                    <p>
                        <%=address?.name%>
                    </p>
                    <p>
                        <%=address?.address%>
                    </p>
                    <p>
                        <%=address?.pincode%>
                    </p>
                    <p>
                        <%=address?.mobile%>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-left:2em; margin-top: 3em;">
                <div class="col-md-12">
                    <% for ( let i=0; i < cartItems.length; i++) { %>
                        <div class="product" style="height:190px">
                            <a href="/productDetail?image=<%=cartItems[i].Image %>">
                                <img style="    width: 207px;
                            height: 191px;     padding: 2rem;" src="<%= cartItems[i].Image[0] %>">
                            </a>
                            <div class="col-md-8">
                                <div class="favproduct-info vertical-center">

                                    <h3 class="product-name">
                                        <%= cartItems[i].Name %>
                                    </h3>

                                    <h4 class="product-price">$ <%= cartItems[i].Price %>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="/user-orders" class="fav-product-remove vertical-center">
                                    <i class="fa fa-close" style="color:red"></i>
                                    <span style="color:red">Cancel</span>
                                </a>
                            </div>
                        </div>
                </div>
                <% } %>
            </div>
        </div>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- Ajax Add to cart -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/cartAjax.js"></script>
</body>

</html>