<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>cla</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- my custom css -->
    <link rel="stylesheet" href="css/usercss.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <script src="js/orderValidate.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- Swal -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>
<!-- body -->

<body class="main-layout inner_posituong computer_page" style="margin: 0;">
    <!-- loader  -->
    <nav class=" navbar-light " style="background-color: #4843a3;height: 4em; color: white; padding-left: 42em;">
        <a href="/" style="float: left;margin-left: -38em;margin-top: 1em;color: white;">Home</a>
        <a class="navbar-brand" href="/"
            style="font-size: xx-large;font-weight: bold;color: white;position: absolute;left: 35rem;padding-top: 1rem;align-items: center;">CKart</a>
    </nav>
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                    <div class="contact">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="titlepage">
                                        <h2 style="margin-left: 28rem;">Delivery Details</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <form id="request" class="main_form" action="">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <input class="contactus" type="text" placeholder="Name"
                                                    oninput="namevalid()" id="fname" name="Name">
                                                <p class="help-block" id="pname"></p>
                                            </div>
                                            <div class="col-md-12">
                                                <input class="contactus" placeholder="Phone Number" oninput="numvalid()"
                                                    id="fnum" type="text" name="mobile">
                                                <p class="help-block" id="pnum"></p>
                                                <input type="text" name="userId" id="" value="<%=user._id%>" hidden>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" name="total" id="tot" value="<%=total%>" hidden>
                                                <input class="contactus" placeholder="Pincode" oninput="pinvalid()"
                                                    id="fpin" type="type" name="Pincode">
                                                <p class="help-block" id="ppin"></p>
                                            </div>
                                            <div class="col-md-12">
                                                <textarea class="textarea" placeholder="Address" id="faddress"
                                                    oninput="addressvalid()" type="type" name="address"
                                                    Message="Name"></textarea>
                                                <p class="help-block" id="paddress"></p>
                                            </div>
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <button class="send_btn" type="button"
                                                    style="font-size:11px; font-size: 11px;margin-top: 0px;position: absolute;right: 1rem;height: 2em;padding: 0.1rem 1rem 1rem 1rem;bottom: 1.1rem; border-radius: 0%;"
                                                    onclick="namevalid();numvalid();pinvalid();addressvalid();saveAddress(document.getElementById('fname').value,document.getElementById('fnum').value,document.getElementById('fpin').value,document.getElementById('faddress').value)">save
                                                    address
                                                </button>
                                            </div>
                                            <div class="col-md-5">
                                                <label for="payment">Payment method </label><br>
                                                <div class="radio inline">
                                                    <input type="radio" id="radio-2" name="payment-method" value="COD" oninput="checkwallet(document.getElementById('tot').value)"
                                                        >
                                                    <label for="radio-2">Pay on Delivery</label>
                                                </div>
                                                <div class="radio inline">
                                                    <input type="radio" id="radio-3" name="payment-method" oninput="checkwallet(document.getElementById('tot').value)"
                                                        value="ONLINE">
                                                    <label for="radio-3">Online Payment</label>
                                                </div>
                                                <div class="radio inline">
                                                    <input type="radio" id="radio-4" name="payment-method" oninput="checkwallet(document.getElementById('tot').value)"
                                                        value="WALLET">
                                                    <label for="radio-4">CKart Wallet</label>
                                                </div>
                                                <p class="help-block" id="pwallet"></p>
                                            </div>
                                            <div class="col-md-7 mt-1">
                                                <button class="send_btn" type="submit"
                                                    onclick="namevalid();numvalid();pinvalid();addressvalid();"
                                                    id="submit_btn">Checkout</button>
                                            </div>
                                            <span>
                                                <div class="col-md-12">
                                                    <label for="address" style="font-weight:700">Saved Address :
                                                    </label><br>
                                                    <% for (let i=0; i < address.length; i++) { %>
                                                        <div class="radio inline">
                                                            <input type="radio" id="<%=address[i]._id %>"
                                                                name="savedAddress" value=""
                                                                onclick="fillAddress('<%=address[i].name %>','<%=address[i].phone %>','<%=address[i].pincode %>','<%=address[i].address%>')">
                                                            <label for="" style="font-size: 16px;">
                                                                <%=address[i].name %>
                                                            </label> <br>
                                                            <label for="" style="font-size: 16px;padding-left: 20px;">
                                                                <%=address[i].phone %>
                                                            </label> <br>
                                                            <label for="" style="font-size: 16px;padding-left: 20px;">
                                                                <%=address[i].pincode %>
                                                            </label> <br>
                                                            <label for="" style="font-size: 16px;padding-left: 20px;">
                                                                <%=address[i].address %>
                                                            </label> <br>
                                                        </div>
                                                        <% } %>
                                            </span>
                                            </p>
                                        </div>
                                        </span>
                                </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body"
                                    style="border: 2px solid #4843a3; margin-bottom:1rem;width:27rem">
                                    <form>
                                        <div class="form-group"> <label>Have coupon?</label><br><br>
                                            <div class="input-group">
                                                <input type="text" class="form-control coupon" name="coupon"
                                                    id="fcoupon" oninput="couponinput()" placeholder="Coupon code">
                                                <span class="input-group-append">
                                                    <button type="button" id="apply_btn"
                                                        onclick="couponcheck(document.getElementById('tot').value,document.getElementById('fcoupon').value)"
                                                        class="btn btn-primary btn-apply coupon"
                                                        style=" height: 38px;">Apply</button> </span>
                                            </div>
                                            <p class="help-block" id="pcoupon"></p>
                                        </div>
                                    </form>
                                    <p id="errorCoupon" style="color: red; display: none;"></p>
                                </div>
                                <div class="card-body" style="border: 2px solid #4843a3;width:27rem">
                                    <h3>Price : $ <%=total%>
                                    </h3>
                                    <h3 id="discountPrice">Discount : $ 0</h3>
                                    <hr>
                                    <h3 id="totalShow" style="font-weight:500">Total : $ <%=total%>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end footer -->
                <script>

                    function fillAddress(name, phone, pin, address) {
                        console.log('Im fillAddress');
                        $('#fname').val(name);
                        $('#fnum').val(phone);
                        $('#fpin').val(pin);
                        $('#faddress').val(address);
                    }

                    function saveAddress(name, mobile, pin, address) {
                        if (value1 && value2 && value3 && value4 && value5) {
                            console.log(`${address}`);
                            $.ajax({
                                url: `/save-address`,
                                method: 'POST',
                                data: {
                                    name,
                                    mobile,
                                    pin,
                                    address
                                },
                                success: (response) => {
                                    if (response.error) {
                                        document.getElementById("paddress").style.display = "block";
                                        document.getElementById("paddress").innerText = `${response.error}`;
                                    } else {
                                        const Toast = Swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            showConfirmButton: false,
                                            timer: 800,
                                            timerProgressBar: true,
                                            didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                            }
                                        })
                                        Toast.fire({
                                            icon: 'success',
                                            title: 'Address saved'
                                        })
                                    }
                                }
                            })
                        }
                    }

                    $("#request").submit((e) => {
                        e.preventDefault()
                        if (value1 && value2 && value3 && value4 && value5 && value6) {
                            price = parseInt(document.getElementById("tot").value)
                            $.ajax({
                                url: `/place-order/${price}`,
                                method: 'post',
                                data: $('#request').serialize(),
                                success: (response) => {
                                    console.log("RESPONSE", response);
                                    if (response.codSuccess) {
                                        location.href = '/order-success'
                                    } else {
                                        razorpayPayment(response)
                                    }
                                }
                            })
                        }
                    })

                    function razorpayPayment(order) {
                        var options = {
                            "key": "rzp_test_GHZ8qfO5RgHRDG", // Enter the Key ID generated from the Dashboard
                            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                            "currency": "USD",
                            "name": "CKart",
                            "description": "Order Transaction",
                            "image": "https://example.com/your_logo",
                            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                            "handler": function (response) {
                                verifyPayment(response, order)
                            },
                            "prefill": {
                                "name": "Christophar Antony",
                                "email": "christopharantony@gmail.com",
                                "contact": "7012049963"
                            },
                            "notes": {
                                "address": "CKart Corporate Office"
                            },
                            "theme": {
                                "color": "#3d389c"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                    }

                    function verifyPayment(payment, order) {
                        $.ajax({
                            url: "/verify-payment",
                            data: { payment, order },
                            method: "POST",
                            success: (response) => {
                                console.log('RESPONSE : ', response);
                                if (response.status) {
                                    console.log('Payment Successfully : ', response);
                                    location.href = '/order-success'
                                } else {
                                    console.log("Payment Failed&&&&&&&&&&&&&");
                                    alert('Payment failed');
                                }
                            }
                        })
                    }
                </script>
                <!-- Javascript files-->
                <script src="js/popper.min.js"></script>
                <script src="js/bootstrap.bundle.min.js"></script>
                <script src="js/custom.js"></script>
                <script src="js/cartAjax.js"></script>
</body>

</html>